.main{
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-image: url('../src/assets/[fetchpik.com]-high-fHALeIhkZ7.jpg');
    background-size:contain;
    height: 75vh;
    width: 100vw;
    opacity: 0.85;
    top: 0; */
}
.inr-rates{
    margin-top: 200px;
}